<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>burger nom nom</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header class="jumbotron">
    	<h1 id="title">burger</h1>
	</header>

	<div class="container text-center">
		{{{ body }}}
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		// changes opacity of the icon on hover
		$(".eat-icon").hover(function() {
			$(this).css({opacity: 0.5});
		},
		function() {
			$(this).css({opacity: 1});
		});

		$(".trash-icon").hover(function() {
			$(this).css({opacity: 0.5});
		},
		function() {
			$(this).css({opacity: 1});
		});
	</script>
	
</body>

</html>